<img src="/static/img/x-grey.png" class="close" ng-controller="closeController" ng-click="closeIssue()"/>
<div class="timeline-background">
    <div class="placeholder-timeline">&nbsp;</div>
    <div ng-repeat="d in issueData.decisions">
        <div class="timeline-decision" ng-style="getStyle($index, d.origin_last_modified_time);"></div>
    </div>
    <div ng-repeat="m in issueData.messages">
        <div class="timeline-message" ng-style="getStyle($index, m.created);"></div>
    </div>

</div>
<div class="issueDetails">
    <div class="issueInfo">
        <h2>{{ issueData.data.subject }} </h2>

        <div ng-controller="loginWindowController" ng-show="!userData.isLoggedIn()"><p><span ng-click="toggleShow()" class="issueLogin">Kirjaudu sisään</span> osallistuaksesi keskusteluun.</p></div>

        <div class="subscribe" ng-controller="subController" ng-show="userData.isLoggedIn()">
            <h5 ng-click="subscribeIssue(issueData.data)"><span ng-class="subscribeClass">★</span> {{ subscribeText }}</h5>
        </div>
        <h4 class="date">Päivämäärä: {{ issueData.data.latest_decision_date }}</h4>
        <p>{{ issueData.data.summary }} </p>

        <div ng-show="userData.isLoggedIn()">
            <div>
                <label for="messagefield" ng-keyup="$event.keyCode == 13 && postMessage(issueData.issueId, messageText)">
                    <textarea ng-model="messageText.value" id="messagefield" name="messagefield" rows="6" cols="65"></textarea>
                </label>
                <div class="button">
                    <button ng-click="postMessage(issueData.issueId)">Lähetä viesti</button>
                </div>
            </div>
        </div>
        <h4 class="attachment-heading">Päätökset: </h4>
        <ul class="decision-list">
            <li ng-controller="attachmentsController" data-ng-repeat="d in issueData.decisions">
                {{ d.meeting.policymaker_name + " " + d.meeting.date}}
                <img class="decision-arrow" ng-src="/static/img/arrow_down.png" ng-click="toggleAttachments()">
                <ul class="attachment-list" ng-show="attachmentsShow.value">
                    <li data-ng-repeat="a in d.attachments | filter:{ public: true} ">
                       <a href="{{ a.file_uri }}" target="_blank">{{ a.name }}: {{ a.file_type }}</a>
                    </li>
                    <li data-ng-repeat="a in d.attachments | filter:{ public: false} ">
                       Salainen liite
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="messages">
        <div ng-repeat="m in issueData.messages" ng-controller="replyController" ng-init="replies = m.replies">
            <div class="messageBubble">
                <h3 class="poster">{{m.poster.username}}</h3>
                <h3 class="time-posted">{{m.created | date: 'short'}}</h3>
                <p class="messageText">{{m.text}}</p>

                <img class="thumbsup" ng-show="userData.isLoggedIn()"ng-src="{{ m.liked ? '../../static/img/thumbs-up-green.png' : '../../static/img/thumbs-up.png' }}" ng-click="likeMessage(m)">
                <div class="reply" ng-show="userData.isLoggedIn()" ng-click="toggleReplyControls()">Vastaa</div>
                <div ng-show="showReplyControls.value">
                    <textarea ng-model="replyText.value" name="replyfield" rows="6" cols="70"></textarea>
                    <div class="button">
                        <button ng-click="replyToMessage(m)">Lähetä viesti</button>
                    </div>
                </div>
            </div>
            <div ng-repeat="r in replies">
                <div class="replyBubble">
                    <h3 class="poster">{{r.poster.username}}</h3>
                    <h3 class="time-posted">{{r.created | date: 'short'}}</h3>
                    <p class="messageText">{{r.text}}</p>
                    <img class="thumbsup" ng-src="{{ r.liked ? '../../static/img/thumbs-up-green.png' : '../../static/img/thumbs-up.png' }}" ng-click="likeMessage(r)">
                </div>
            </div>
        </div>
    </div>

</div>
