<img src="/static/img/x.png" class="close" ng-controller="closeController" ng-click="closeIssue()"/>
<div class="timeline-background">
    <div class="placeholder-timeline">&nbsp;</div>
    <div ng-repeat="d in issueData.decisions">
        <div class="timeline-decision" ng-style="getStyle($index, d.origin_last_modified_time);"></div>
    </div>
    <div ng-repeat="m in issueData.messages">
        <div class="timeline-message" ng-style="getStyle($index, m.created);"></div>
    </div>

</div>
<div class="issueDetails">
    <div class="issueInfo">
        <h2>{{ issueData.data.subject }} </h2>
        <h4>Date: {{ issueData.data.latest_decision_date }}</h4>
        <p>{{ issue.summary }} </p>

       <div ng-controller="subController" ng-show="userData.isLoggedIn()">
        <div class="subscribe">
            <img ng-src="{{ issueData.data.subscribed ? '../../static/img/yellowstar.png' : '../../static/img/graystar.png' }}" ng-click="subscribeIssue(issue)">
        </div>

        <div>
            <label for="messagefield">
                <textarea ng-model="messageText" id="messagefield" name="messagefield" rows="6" cols="65"></textarea>
            </label>
            <div class="button">
                <button ng-click="postMessage(issueData.issueId,messageText)">Send message</button>
            </div>
            <!--</form>-->
        </div>
       </div>
        <ul>
            <li data-ng-repeat="d in issueData.decisions">
                {{ d.meeting.date }} <!--Lisätään jokaisen decisionin päivämäärä listaan -->
                <ul> <!-- Lisätään decisioneille liitteet -->
                    <li data-ng-repeat="a in d.attachments | filter:{ public: true} ">
                       <a href="{{ a.file_uri }}" target="_blank">{{ a.name }}: {{ a.file_type }}</a>
                    </li>
                    <li data-ng-repeat="a in d.attachments | filter:{ public: false} ">
                       SALAINEN
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="messages">
        <!--{% for message in message_list %}
                    <div class="messageBubble">
                        <h2>{{ message.poster }}</h2>
                        <p>{{ message.text }}</p>
                        {% if message.poster == user %}
                            <div class="button" ng-controller="messageController">
                                <button type="submit" ng-click="deleteMessage({{ message.id }})">Delete message</button>
                             </div>
                        {% endif %}
                    </div>
                {% endfor %} -->


        <div ng-repeat="m in issueData.messages">
            <div class="messageBubble" ng-init="m.showReplyControls = {value:false}">
                <h3 class="poster">{{m.poster.username}}</h3>
                <h3 class="time-posted">{{m.created | date: 'short'}}</h3>
                <p class="messageText">{{m.text}}</p>

                <img ng-src="{{ m.liked ? '../../static/img/thumbs-up-green.png' : '../../static/img/thumbs-up.png' }}" ng-click="likeMessage(m)">
                <div ng-click="toggleReplyControls(m)">vastaa</div>
                <div ng-show="m.showReplyControls.value">
                    <textarea ng-mogel="replyText" name="replyfield" id="replyfield" rows="6" cols="70"></textarea>
                    <div class="button">
                        <button ng-click="replyToMessage(m, replyText)">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <!--<form id="messageform" action="/issue/{{ issueID }}/messages/" method="post">
                        {% csrf_token %} -->
    </div>

</div>
