<img src="/static/img/x-grey.png" class="close" ng-controller="closeProfileController" ng-click="closeProfile()"/>
<div class="userDetails">
    <div class="profileLeft">
        <h1 class="usernameTitle">{{ userData.username }}</h1>
        <img height="128" src="{{ userData.profilePictureUrl() }}" />
        <div ng-controller="pictureController">
            <p>Vaihda profiilikuva:</p>
            <input type="file" file="file" id="file" name="profile_picture"/>
            <button class="blue-button" ng-click="changePicture()">Vaihda kuva</button>
        </div>
    </div>
    <div class="user-subscriptions profileRight" ng-controller="subscriptionController">
        <h2>Seuratut päätökset</h2>
        <ul>
            <li ng-repeat="(id, issue) in userData.subscriptions">
                <div ng-controller="windowController" ng-click="windowClick(id)">
                    {{ issue.title }}

                </div>

            </li>
        </ul>
    </div>
</div>
