<div class="searchResults" ng-controller="searchController" infinite-scroll="loadMoreSearchResults()" threshold="100" can-load="canLoadMoreTextResults()">
    <img src="/static/img/x-grey.png" class="close" ng-controller="closeController" ng-click="closeSearchResults()"/>
    <div id="searchHead">Hakusanalla "{{ issueService.searchInfo.text }}" löytyi {{ issueData.textSearchResultCount }} hakutulosta. </div>
    <div>
        <ul>
            <li ng-repeat="x in issueData.textSearchResults">
                <div ng-controller="windowController" ng-click="windowClick(x.id)">{{ x.subject }}</div>
            </li>
            <li ng-show="issueData.textSearchLoading">
                <img src="/static/loader.gif"/>
            </li>
        </ul>

    </div>
</div>