@font-face {
    font-family: Neou;
    src: url('fonts/Neou-Thin.otf');
}
@font-face {
    font-family: Neou Bold;
    font-weight: bold;
    src: url('fonts/Neou-Bold.otf');
}

@font-face {
    font-family: Tw Cen MT;
    src: url('fonts/Tw-Cen-MT.ttf');
}

@font-face {
    font-family: Tw Cen MT Bold;
    src: url('fonts/Tw-Cen-MT-Bold.ttf');
}

p {
    font-size: 18px;
}

h4 {
    font-size: 22px;
}

h2 {
    font-size: 27px;
}

h1 {
    font-size: 40px;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1001;
}

/* MAIN NAVIGATION */

#mainnav {
    padding: 0 2vw;
    text-align: left;
    display: inline;
    list-style: none;
}

#mainnav li {
    display: inline-block;
    position: relative;
    padding: 0 2.5vw;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#mainnav li a {
    font-size: 25px;
    font-family: Neou Bold;
    color: #939291;
    text-decoration: none;
}

#mainnav li a:hover {
    color: #555;
}

#mainnav li ul {
    padding: 0;
    position: absolute;
    left: 11px;
    width: 240px;
    display: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

#mainnav li ul li {
    display: block;
    padding: 2px 20px 10px 20px;

}

#mainnav li ul li a {
    color: #939291;
    font-family: "Tw Cen MT";
    font-size: 16px;
    text-decoration: none;

}


#mainnav li ul li a:hover {
    color: #555;
}


#mainnav li:hover ul {
    display: block;
}


#mainnav li a:focus, #mainnav li ul li .selectedCategory {
    color: #d8752f;
}

.hide {
    display: none;
}

.navbar {
    background-color: white;
    padding: 1vw 0;
    width: 100vw;
    margin-top: 1.5vw;
    position: absolute;
    left: 0;
    z-index: 1000;
    text-align: center;
}

.nav-item {
    display: inline;
}

.nav-field {
    display:inline;
}

#search {
    width: 160px;
}

.nav-contents {

}

.login-button {
    margin-left: 6vw;
}

.logout-button-button {
    margin-left: 3vw;
    padding: 6px 11px;
}

.login-button, .logout-button-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: #6fc1dd;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

form {
    display: inline;
}

.logo {
    vertical-align: middle;
    margin-right: 7vw;
}


.navbar .login-button {
    padding: 6px 11px;
}


.angular-google-map-container {
    height: 100vh;
}

/* ISSUENÄKYMÄ */

.issueContainer {
    background-color: white;
    width: 90vw;
    height: 67vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 11vw;
    position: absolute;
    top: 0vw;
    left: 0;
    padding-top: 7vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    overflow: scroll;
    z-index: 1;
}

.issueDetails {
    display: inline-block;
    width: 82vw;
    margin: 3vw 0 0 4vw;
}

.issueDetails h2 {
    font-family: Tw Cen MT;
    text-decoration: underline;
    color: #555555;
}

.issueDetails h4, .issueDetails p {
    font-family: Tw Cen MT;
    color: #939291;
}

.issueDetails .date {
    margin-top: 0;
}

.close {
    position: absolute;
    right: 2vw;
    top: 2vw;
    cursor: pointer;
}

.placeholder-timeline {
    width: 82vw;
    background-color: #939291;
    height: 3px;
    margin-left: 4vw;

}

.timeline-decision {
    width: 3vw;
    height: 3vw;
    background: #d8752f;
    -moz-border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    border-radius: 1.5vw;
    display: inline;
    position: absolute;
    top: 5.5vw;
    transform: translateX(-50%);
}

.timeline-background {
    width: 90vw;
}

.timeline-message {
    width: 2vw;
    height: 2vw;
    background: #d8752f;
    -moz-border-radius: 1vw;
    -webkit-border-radius: 1vw;
    border-radius: 1vw;
    display: inline;
    position: absolute;
    top: 6vw;
    transform: translateX(-50%);
}

.issueLogin {
    cursor: pointer;
    color: #d8752f;
}
.issueLogin:hover {
    color: #555555;
}

.issueInfo {
    float: left;
    width: 40vw;
}

.attachment-heading {
    margin-bottom: 1vw;
}

.decision-list {
    font-family: "Tw Cen MT";
    color: #939291;
    font-size: 20px;
    /*list-style: none;*/
}
.decision {
    cursor: pointer;
}
.decision:hover {
    color: #555555;
}
.attachment-list {
    font-size: 16px;
}
.attachment-list a {
    color: #939291;
    text-decoration: none;
}
.attachment-list a:hover {
    color: #d8752f;
}
.decision-arrow{
    margin-bottom: -2px;
    cursor: pointer;
}
.inactive > .decision-arrow {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

/* KÄYTTÄJIEN VIESTIT */

.messages {
    float: right;
    width: 40vw;
    margin-top: 2vw;
}


.messageBubble, .replyBubble {
    padding: 2vw;
    margin-bottom: 1vw;
    border-radius: 1vw;
}

.messageBubble h3, .messageBubble p, .replyBubble h3, .replyBubble p {
    font-family: Tw Cen MT;
    color: #ffffff;
}

.messageBubble h3, .replyBubble h3 {
    margin-top: 0.5vh;
}

.messageBubble {
    background-color: #6fc1dd;
    clear: right;
}

.replyBubble {
    background-color: #9fd5e8;
    width: 80%;
    float: right;
}

.poster {
    float: left;
    width: 62%;
}

.time-posted {
    float: right;
    width: 33%;
}

/* LOGIN-IKKUNA */

.login .login-box {
    padding: 10px;
    background: white;
    z-index: 10000;
    position: absolute;
    top: 20vw;
    left: 38vw;
    padding: 2vw;
    border-radius: 1vw;
    width: 24vw;
}

.login {
    background:rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loginRegister {
    padding-bottom: 15px;
}

.login h5 {
    display: inline;
    font-family: "Tw Cen MT";
    color: #939291;
    cursor: pointer;
}

.loginRegister h5:hover {
    color: #555555;
}

.registerfieldcontainer {
    width: 24vw;
}

.registerfieldcontainer input {
    float: right;
    width: 14vw;
}

input[type="file"] {
    margin-top: 7px;
}


.registerfieldcontainer h5 {
    float: left;
    width: 0;
    cursor: auto;
}

.registerfieldcontainer .first {
    margin-top: 0;
}

.register .button {
    margin-top: 10vw;
}

.login-box.register {
    top: 17vw;
}

/*SEARCH RESULTS -IKKUNA*/
.searchResults {
    background: white;
    width: 65vw;
    margin: 11vw 5vw 0 5vw;
    top: 4vh;
    left: 0vw;
    position: absolute;
    border-radius: 1vw;
    font-family: Tw Cen MT;
    overflow: scroll;
    padding: 1vw;
    height: 62vh;
}

.searchResults ul {
    padding: 0 2vw 1vw 2vw;
}

.searchResults li {
    color: #939291;
    list-style-type: none;
    cursor: pointer;

}

.searchResults li:hover {
    color: #555555;
}

.resultlist {
    padding: 5px 0px;
}

#searchHead {
    padding-left: 2vw;
    padding-top: 2vw;
    color: #555555;
    font-size: 22px;
}

.infowindow {
    /*background-color: #555555;*/
}

.user-avatar {
    width: 2.5vw;
    height: 2.5vw;
}

.nav-profile {
    float: right;
    margin-right: 2vw;
}

.username {
    font-size: 12px;
    font-family: "Tw Cen MT";
    color: #555555;
}

.user-container {
    width: 5vw;
    cursor: pointer;
}

.profileContainer {
    background-color: white;
    width: 90vw;
    height: 75vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 11vw;
    position: absolute;
    top: 0vw;
    left: 0;
    border-radius: 1vw;
    overflow: scroll;
    z-index: 1;
}

.profileContainer h1, .profileContainer h2, .profileContainer li {
    font-family: Tw Cen MT;
    color: #939291;
}

.user-subscriptions {

}

.profileContainer h2 {
    margin-top: 2.8vw;
}

.profileContainer li {
    list-style-type: none;
    margin: 0 0 10px -38px;
    cursor: pointer;

}

.profileContainer li:hover {
    color: #555555;
}

.profileContainer .usernameTitle {
    color: #6fc1dd;
}


.profileLeft {
    float: left;
    width: 20vw;
}

.profileRight {
    float: right;
    width: 60vw;
}

.userDetails {
    display: inline-block;
    width: 80vw;
    margin: 2vw 6vw 2vw 6vw;
    float: right;
}

#recentMessages {
    background: #FFF;
    padding: 1.5vw;
    width: 17vw;
    position: absolute;
    top: 25vh;
    right: 5vw;
    border-radius: 1vw;
    z-index: 0;
}

#recentMessages h3 {
    font-family: "Tw Cen MT";
    color: #6fc1dd;
    font-size: 25px;
    margin: 1vw;
}

.recent-message {
    padding: 1vh 1vw;
}

.recent-message-txt {
    font-family: "Tw Cen MT";
    color: #939291;
    cursor: pointer;
}

.recent-message-txt:hover {
    color: #555555;
}

.recentMessageContainer {
    height: 30vh;
    overflow: scroll;
    margin-bottom: 5vh;
}

select {
    width: 280px;
}

.subscribe h5 {
    font-family: Tw Cen Mt;
    display: inline-block;
    vertical-align: super;
    font-size: 18px;
    margin: 2vw 0 1vw 0;
    color: #939291;
    cursor: pointer;
}

.subscribe {
    margin-top: -2vw;
}

.subscribe .grey {
    color: #939291;
}

.subscribe .blue {
    color: #6fc1dd;
}

.thumbsup {
    cursor: pointer;
}

.reply {
    font-family: Tw Cen Mt;
    color: #fff;
    display: inline;
    float: right;
    margin-bottom: 2vw;
    cursor: pointer;
}



