@font-face {
    font-family: Neou;
    src: url('fonts/Neou-Thin.otf');
}
@font-face {
    font-family: Neou Bold;
    font-weight: bold;
    src: url('fonts/Neou-Bold.otf');
}

@font-face {
    font-family: Tw Cen MT;
    src: url('fonts/Tw-Cen-MT.ttf');
}

@font-face {
    font-family: Tw Cen MT Bold;
    src: url('fonts/Tw-Cen-MT-Bold.ttf');
}

p {
    font-size: 18px;
}

h4 {
    font-size: 22px;
}

h2 {
    font-size: 27px;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1001;
}

#mainnav li {
    font-size: 25px;
    font-family: Neou Bold;
    color: #939291;

}

li.selected a {
    color: #d8752f;
}

#mainnav {
    display: inline;
}

.hide {
    display: none;
}

.navbar {
    background-color: white;
    padding: 2vw 0;
    margin-top: 2vw;
    width: 100vw;
    margin-top: 1.5vw;
    position: absolute;
    left: 0;
}

.nav-item {
    display: inline;
    padding-right: 40px;
}

.nav-contents {
    float: right;
    margin-right: 5vw;
}

form {
    display: inline;
}

.logo {
    width: 17vw;
    position: absolute;
    left: 5vw;
    top: 0.5vw;
}

#login-button {

}

.navbar button {
    padding: 3px;
}


.angular-google-map-container {
    height: 100vh;
}

/* ISSUENÄKYMÄ */

.issueContainer {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.issueDetails {
    display: inline-block;
    width: 86vw;
    margin: 3vw 0 0 6vw;
}

.issueDetails h2 {
    font-family: Tw Cen MT;
    text-decoration: underline;
    color: #555555;
}

.issueDetails h4, .issueDetails p {
    font-family: Tw Cen MT;
    color: #939291;
}

.placeholder-timeline {
    width: 86vw;
    background-color: #939291;
    height: 3px;
    margin: 4vw 0 0 6vw;

}

.timeline-decision {
    width: 3vw;
	height: 3vw;
	background: #d8752f;
	-moz-border-radius: 1.5vw;
	-webkit-border-radius: 1.5vw;
	border-radius: 1.5vw;
    display: inline;
    position: absolute;
    top: 8vw;
    transform: translateX(-50%);
}

.timeline-background {
    width: 86vw;
}

.timeline-message {
    width: 2vw;
	height: 2vw;
	background: #d8752f;
	-moz-border-radius: 1vw;
	-webkit-border-radius: 1vw;
	border-radius: 1vw;
    display: inline;
    position: absolute;
    top: 8.5vw;
    transform: translateX(-50%);
}

.issueInfo {
    float: left;
    width: 40vw;
}

/* KÄYTTÄJIEN VIESTIT */

.messages {
    float: right;
    width: 40vw;
    margin-top: 2vw;
}

.messageBubble {
    padding: 2vw;
    background-color: #6fc1dd;
    margin-bottom: 1vw;
    border-radius: 1vw;
}

.messageBubble h3, .messageBubble p{
    font-family: Tw Cen MT;
    color: #ffffff;
}

.messageBubble h3 {
    margin-top: 0.5vh;
}

.poster {
    float: left;
    width: 62%;
}

.time-posted {
    float: right;
    width: 38%;
}

/* LOGIN-IKKUNA */

.login .login-box {
    padding: 10px;
    background: white;
    z-index: 10000;
    position: absolute;
    top: 20vw;
    left: 40vw;
    padding: 2vw;
     border-radius: 1vw;
}

.login {
    background:rgba(0,0,0,0.4);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}


#recentMessages {
    float: right;
    width: 20%;
}

