<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Somekratia</title>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script> -->

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.6/angular-google-maps.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>


    <!--  <script src="/static/googlemap.js"></script> -->
    <script src="/static/angular.js"></script>
    <script src="/static/angular-route.js"></script>
    <script src="/static/angular-google-maps.js"></script>
    <script src="/static/angular-simple-logger.js"></script>
    <script src="/static/lodash.js"></script>
    <script src="/static/search.js"></script>
    <script src="/static/issue.js"></script>
    <script src="/static/navigation.js"></script>
    <script src="/static/navbar_controller.js"></script>
    <script src="/static/searchresult_controller.js"></script>
    <script src="/static/login_controller.js"></script>
    <script src="/static/recent_issues_controller.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css" />
</head>
<body>

<div class="navbar">
    <div class="nav-contents" ng-controller="navbarController">
        <a href="index.html"><img src="/static/img/somekratia_logo_small.png" class="logo"/></a>
        <ul id="mainnav">
            <li class="nav-item selected"><a href="index.html">KOTI</a></li>
            <li class="nav-item" ng-controller="recentIssuesController" ng-click="openRecent()">VIIMEISIMMÄT</li>
            {% verbatim %}
            <select name="categorySelect" id="category" class="nav-item" ng-model="categorySelect"
                    ng-change="categoryChanged()">
                    <option value="">KATEGORIAT</option>
                    <option ng-repeat="option in categories" value="{{option.origin_id}}">{{option.name}}</option>
            </select>
            {% endverbatim %}
        </ul>

        <div class="nav-field nav-item" ng-controller="textSearchController">
            <input type="text" ng-keyup="$event.keyCode == 13 && textSearch(text)" id="search" name="search" placeholder="Haku" data-ng-model="text"/>

            <button type="submit" class="nav-item search-button"  ng-click="textSearch(text)">HAE</button>

        </div>

                <button class="nav-item logout-button-button" type="submit" ng-controller="logoutController" ng-show="userData.isLoggedIn()" ng-click="logout()">LOPETA</button>


            <button class="nav-item login-button" ng-controller="loginWindowController" ng-show="!userData.isLoggedIn()" ng-click="toggleShow()">KIRJAUDU</button>

            {% verbatim %}
            <div class="nav-field nav-profile" ng-controller="profileNavController" ng-show="userData.isLoggedIn()">
                <div class="user-container">
                    <img class=" user-avatar" ng-src="/user/{{ userData.userId }}/picture" ng-click="toggleShow()"/>
                    <span class="username">{{ userData.username }}</span>
                </div>
            </div>
            {% endverbatim %}
    </div>

</div>

<div class="login" ng-controller="loginWindowController" ng-show="uiState.showLogin" ng-click="toggleShow()">
   <div ng-include src="'static/login.html'" ></div>
</div>
{% verbatim %}
<div id= 'map-container' ng-controller="searchController" >
    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.mapEvents" options="MapOptions"styles="[{stylers: [{ saturation: -100 },  { visibility: 'simplified' }]}, {featureType:'water', stylers: [{color: '#94D5F7'}] }]">
        <ui-gmap-window coords="map.window.marker.coords" options="map.window.options" show="map.window.show" closeClick="map.window.closeClick" isIconVisibleOnClick="true"
                        templateUrl="templateUrl" templateParameter="windowContent" ng-cloak>
        </ui-gmap-window>
    </ui-gmap-google-map>
       </div>

    <div class="recentContainer" ng-controller="recentIssuesController" ng-show="uiState.showRecent">
        <div ng-include src="'static/recent.html'"></div>
    </div>

    <div class="searchResultContainer" ng-controller="searchResultController" ng-show="uiState.showSearchResults">
        <div ng-include src="'static/searchresults.html'"></div>
    </div>

    <div class="issueContainer" ng-controller="messageController" ng-show="uiState.showDetails">
        <div ng-include src="'static/issue.html'" ></div>
    </div>

    <div class="profileContainer" ng-controller="profileController" ng-show="uiState.showProfile">
        <div ng-include src="'static/profile.html'"></div>
    </div>

    <div id="recentMessages" ng-controller="recentController">
        <h3>Viimeksi kommentoidut</h3>
        <div class="recentMessageContainer">
            <div ng-repeat="i in recentlyCommented">
                <div class="recent-message">
                    <div class="recent-message-txt" ng-controller="windowController" ng-click="windowClick(i.issue.id)">
                        {{ i.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

</body>
</html>
