<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Somekratia</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
    <script src="/static/angular.js"></script>
    <script src="/static/angular-route.js"></script>
    <script src="/static/angular-google-maps.js"></script>
    <script src="/static/angular-simple-logger.js"></script>
    <script src="/static/lodash.js"></script>
    <script src="/static/search.js"></script>
    <script src="/static/issue.js"></script>
    <script src="/static/navigation.js"></script>
</head>
<body>
 <input class="hide" type="text" ng-model="issueID" ng-init="issueID='{{ issueID }}'">
    <div class="issue">
        <div class="navbar">
            <div class="nav-contents">
                <a href="../../index.html"><img src="/static/img/somekratia_logo.png" class="logo"/></a>
                <ul id="mainnav">
                    <li class="nav-item selected"><a href="../../index.html">HOME</a></li>
                    <li class="nav-item"><a href=""></a>RECENT</li>
                    <li class="nav-item"><a href=""></a>CATEGORIES</li>
                </ul>

                {% if user.is_authenticated %}
                    <form class="nav-field" id="logout" action="/logout" method="post">
                        {% csrf_token %}

                            <button class="nav-item" type="submit">LOGOUT</button>

                    </form>
                {% else %}
                    <button class="nav-item login-button" type="openLogin">LOGIN</button>
                    <div class="hide">
                        <form class="nav-field" id="login" action="/login" method="post">
                            {% csrf_token %}
                            <!--<input type="button" id="signup" value="Sign up" />-->
                            <label for="usernameinput">
                                <input type="text" id="usernameinput" name="username" placeholder="Username" />
                            </label>
                            <label for="passwordinput">
                                <input type="password" id="passwordinput" name="password" placeholder="Password" />
                            </label>
                            <div class="button">
                                <button type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                {% endif %}

                    <div class="nav-field nav-item">
                        <input type="text" id="search" name="search" placeholder="Search" data-ng-model="text"/>

                            <button type="submit" class="nav-item search-button" ng-controller="searchController" ng-click="textSearch(text)">SEARCH</button>

                    </div>
            </div>

        </div>
        <div class="placeholder-timeline">&nbsp;</div>
        <div class="issueDetails" ng-controller="messageController">
            <div class="issueInfo">
                <div ng-init="issue = {{ jsondetails }};"></div>
                <h2>{{ jsondetails.subject }} </h2>
                <h4>Date: {{ jsondetails.latest_decision_date }}</h4>
                <p>{{ jsondetails.summary }} </p>
                {% verbatim %}
                <div class="subscribe" ng-controller="subController">
                    <img ng-src="{{ issue.subscribed ? '../../static/img/yellowstar.png' : '../../static/img/graystar.png' }}" ng-click="subscribeIssue(issue)">
                </div>
                {% endverbatim%}
                <div>
                    <label for="messagefield">
                            <textarea ng-model="messageText" id="messagefield" name="messagefield" rows="6" cols="70"></textarea>
                    </label>
                    <div class="button">
                            <button ng-click="postMessage({{ issueID }},messageText)">Send message</button>
                    </div>
                <!--</form>-->
                </div>
            </div>

            <div class="messages">
                <!--{% for message in message_list %}
                    <div class="messageBubble">
                        <h2>{{ message.poster }}</h2>
                        <p>{{ message.text }}</p>
                        {% if message.poster == user %}
                            <div class="button" ng-controller="messageController">
                                <button type="submit" ng-click="deleteMessage({{ message.id }})">Delete message</button>
                             </div>
                        {% endif %}
                    </div>
                {% endfor %} -->

                {% verbatim %}
                    <div ng-repeat="m in messages">
                        <div class="messageBubble">

                                <h3 class="poster">{{m.poster}}</h3>
                                <h3 class="time-posted">{{m.created | date: 'short'}}</h3>
                                <p class="messageText">{{m.text}}</p>

                                <img ng-src="{{ m.liked ? '../../static/img/thumbs-up-green.png' : '../../static/img/thumbs-up.png' }}" ng-click="likeMessage(m)">

                        </div>
                    </div>
                {% endverbatim%}
                    <!--<form id="messageform" action="/issue/{{ issueID }}/messages/" method="post">
                        {% csrf_token %} -->
            </div>

        </div>
    </div>
</body>
</html>