<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Somekratia</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
    <script src="/static/angular.js"></script>
    <script src="/static/angular-route.js"></script>
    <script src="/static/angular-google-maps.js"></script>
    <script src="/static/angular-simple-logger.js"></script>
    <script src="/static/lodash.js"></script>
    <script src="/static/search.js"></script>
    <script src="/static/issue.js"></script>
    <script src="/static/navigation.js"></script>
</head>
<body>
    <h2>{{ jsondetails.subject }} </h2>
    <h4>Date: {{ jsondetails.latest_decision_date }}</h4>
    <p>{{ jsondetails.summary }} </p>

    {% for message in message_list %}
        <h2>{{ message.poster }}</h2>
        <p>{{ message.text }}</p>
        {% if message.poster == user %}
            <div class="button" ng-controller="messageController">
                <button type="submit" ng-click="deleteMessage({{ message.id }})">Delete message</button>
             </div>
        {% endif %}
    {% endfor %}
    <form id="messageform" action="/issue/{{ issueID }}/messages/" method="post">
        {% csrf_token %}
        <label for="messagefield">
                <textarea id="messagefield" name="messagefield" rows="6" cols="50"></textarea>
        </label>
        <div class="button">
                <button type="submit">Send message</button>
        </div>
    </form>
</body>
</html>